<div class="block">
  <div id="header">
    <span>WikiStorm</span>
  </div>
</div>
<div class="block">
<div id="nav">
  <ul>
    <li>Home |</li>
    <li>Archive | </li>
    <li>Links | </li>
    <li>Contact Us</li>
  </ul>
 </div>
</div>


<div id="content">

<p class="post"> post title </p>

</div>

<div id="footer">
<p>footer</p>
</div>
