// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html
{
background:url('congruent_outline.png');
background-repeat: repeat-y repeat-x;
}

#container
{
width: 60%;
height: 100%;
float: center;
position: relative;
margin: 0 auto;
}

#header
{
height: 80px;
width: 100%;
margin: 0px;
float:left;
color:gray;
font-size: 40px;
}


p.menu
{
float:right;
text-align:right;
width:50%;
height: 50px;
color: gray;
}

#content
{
background-color: #FFFFFF;
-webkit-border-radius: 10px;
border-radius: 5px;
height: 500px;
width: 100%;
float: center;
opacity:0.6;
}

#footer
{
width: 60%;
background-color: clear;
clear: both;
text-align: center;
}
